<a href="https://colab.research.google.com/github/regulanikhitha/Nikhitha-/blob/main/Copy_of_KHUB_2025_TASK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#negative slicing
b = "Hello, World!"
print(b[-5:-2])

orl

In [ ]:
b="Hello, World!"
print(b[:-2])

Hello, Worl

In [ ]:
a="Hello, world!"
print(a[2:5])

llo

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [ ]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [ ]:
a = " Hello, World! "
print(a.strip())

Hello, World!

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [ ]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [ ]:
#String Concatenation
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
a = "Hello, World!"
print(a.capitalize())

Hello, world!

In [ ]:
a = "Hello, World!"
print(a.title())

Hello, World!

In [ ]:
a= "  hello"
print(a.lstrip())

hello

In [ ]:
a= "  hello"
print(a.lstrip())

hello

In [ ]:
a="hello world"
print(a.find("world"))

6

In [ ]:
words = ["python", "is", "fun"]
print("".join(words))

pythonisfun

In [ ]:
a="hello"
print(a.startswith("he"))

True

In [ ]:
a="hello"
print(a.startswith("lo"))

False

In [ ]:
a="hello"
print(a.endswith("lo"))

True

In [ ]:
a="hello"
print(a.count("a"))

0

In [ ]:
a="hello"
print(a.isalpha())

True

In [ ]:
a="12345"
print(a.isdigit())

True

In [ ]:
a="12345abd"
print(a.isalnum())

True

In [ ]:
a = "Hello, World!"
print(a.islower())

False

In [ ]:
a = "Hello, World!"
print(a.isupper())

False

In [ ]:
a = "Hello, World!"
print(a.swapcase())

hELLO, wORLD!

In [ ]:
a = "Hello, World!"
print(a.casefold())

hello, world!

In [ ]:
a = "42"
print(a.zfill(5))

00042

In [ ]:
a ="hi"
print(a.center(10,"*"))

****hi****

In [ ]:
age = "36"
txt = "My name is John, I am " + age
print(txt)

My name is John, I am 36

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
x = 5
y = 3

print(x + y)

8

In [ ]:
x = 5
y = 3

print(x - y)

2

In [ ]:
x = 5
y = 3

print(x * y)

15

In [ ]:
x = 12
y = 3

print(x / y)

4.0

In [ ]:
x = 5
y = 2

print(x % y)

1

In [ ]:
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

In [ ]:
x = 15
y = 2

print(x // y)

7

In [ ]:
x = 5
y = 3

print(x == y)

False

In [ ]:
x = 5

print(x > 3 and x < 10)

True

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

True
False
True

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

False
True
False

In [ ]:
x = ["apple", "banana"]

print("banana" in x)

True

In [ ]:
x = ["apple", "banana"]

print("pineapple" not in x)

True

In [ ]:
#list
a = ["apple", "banana", "cherry"]
print(a)

['apple', 'banana', 'cherry']

In [ ]:
a = ["apple", "banana", "cherry", "apple", "cherry"]
print(a)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [ ]:
#TUPLES
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [ ]:
#SETS
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'cherry', 'banana'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'orange', 'cherry', 'banana'}

In [ ]:
#dict
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
x = thisdict.get("model")

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [ ]:
a = 33
b = 200

if b > a:
  pass

In [ ]:
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

Thursday

In [ ]:
month = 5
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5 if month == 4:
    print("A weekday in April")
  case 1 | 2 | 3 | 4 | 5 if month == 5:
    print("A weekday in May")
  case _:
    print("No match")

A weekday in May

In [ ]:
#LOOPS
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
for x in [0, 1, 2]:
  pass

In [ ]:
#FUNCTIONS

def my_function():
  print("Hello from a function")

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [ ]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26